<a href="https://colab.research.google.com/github/carlosdgerez/machine_learning/blob/main/firstAproach.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

bikes = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bikes.csv')

In [19]:
bikes

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,casual,registered
0,1/1/11,1,0,0,0,1,0.81,0,3.28,3.0014,3,13
1,1/1/11,1,1,0,0,1,0.80,0,2.34,1.9982,8,32
2,1/1/11,1,2,0,0,1,0.80,0,2.34,1.9982,5,27
3,1/1/11,1,3,0,0,1,0.75,0,3.28,3.0014,3,10
4,1/1/11,1,4,0,0,1,0.75,0,3.28,3.0014,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16632,11/30/12,4,19,0,1,1,0.66,0,7.04,7.0010,18,359
16633,11/30/12,4,20,0,1,1,0.66,0,7.04,7.0010,12,233
16634,11/30/12,4,21,0,1,1,0.75,6,6.10,5.0012,14,169
16635,11/30/12,4,22,0,1,1,0.75,0,6.10,5.9978,18,145
16636,11/30/12,4,23,0,1,2,0.75,6,6.10,5.0012,11,99

In [20]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16637 entries, 0 to 16636
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dteday        16637 non-null  object
 1   season        16637 non-null  int64
 2   hr            16637 non-null  int64
 3   holiday       16637 non-null  int64
 4   workingday    16637 non-null  int64
 5   weathersit    16637 non-null  int64
 6   hum           16637 non-null  float64
 7   windspeed     16637 non-null  int64
 8   temp_c        16637 non-null  float64
 9   feels_like_c  16637 non-null  float64
 10  casual        16637 non-null  int64
 11  registered    16637 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1.5+ MB

In [21]:
bikes['dteday'] = pd.to_numeric(bikes.dteday.str.replace('/',''))

In [25]:
bikes['target'] = bikes.casual + bikes.registered
bikes

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,casual,registered,target
0,1111,1,0,0,0,1,0.81,0,3.28,3.0014,3,13,16
1,1111,1,1,0,0,1,0.80,0,2.34,1.9982,8,32,40
2,1111,1,2,0,0,1,0.80,0,2.34,1.9982,5,27,32
3,1111,1,3,0,0,1,0.75,0,3.28,3.0014,3,10,13
4,1111,1,4,0,0,1,0.75,0,3.28,3.0014,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16632,113012,4,19,0,1,1,0.66,0,7.04,7.0010,18,359,377
16633,113012,4,20,0,1,1,0.66,0,7.04,7.0010,12,233,245
16634,113012,4,21,0,1,1,0.75,6,6.10,5.0012,14,169,183
16635,113012,4,22,0,1,1,0.75,0,6.10,5.9978,18,145,163
16636,113012,4,23,0,1,2,0.75,6,6.10,5.0012,11,99,110